body{
    background-color: antiquewhite;
    padding: 0;
    margin: 0;
    /* overflow-x: hidden; */
}
#homePage{
    width: 1fr;
    height: 95vh;
    background-image: url("img/735066.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    filter: brightness(50%); 
    margin-bottom: 0%;
}
#homeBaloon{
    position: absolute;
    top: 5%;
    right:0;
    perspective: 100rem; 
}
#homeBaloon img{
    height: 100vh;
    filter: brightness(140%);
    animation: floatBaloon 20s 0.3s infinite ;
    animation-timing-function:linear;
    animation-direction: alternate;
    /* transform: translateY(-500px); */
}
 #homeP{
    position: absolute;
    top: 35vh;
    left: 17vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    
}
 #homeP p span{
    font-size: 50px; 
    font-weight: bold;
    color:yellow;
    text-shadow: 4px 4px black;
}
 #homeP p{
    font-weight: normal;
    font-size:large;
    text-align: center;
    padding: 0%;
    opacity: 1;
}
#country{
    position: absolute;
    top: 5%;
    right:7px;   
    display: flex;
}
#country div{
    width: 50px;
    height: 2em;
    border-radius:30px;
}
#country #country1{
    animation: topCountries 3s 0.1s infinite ;
}
#country #country2{
    animation: topCountries 3s 0.3s infinite ;
}
#country #country3{
    animation: topCountries 3s 0.5s infinite ;
}
#country #country4{
    animation: topCountries 3s 0.7s infinite ;
}
#country #country5{
    animation: topCountries 3s 0.9s infinite ;
}
#menu{
    position: fixed;
    top: 20px;
    left: 10px;
    height: 35px;
    width: 45px;
    background-color:cornsilk;
    border-radius:30px;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
}
#menu span{
    height:3.5px;
    width:30px;
    margin:1.5px;
    background-color:black;
}
#menuPage{
    width: 100vw;
    height: 100vh;
    background-color: crimson;
    background-image: url("img/411820.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-weight: bold;
    font-size: 25px;
    color: white;
    display: none;
    position: fixed;
    top: 8vh;
    bottom: 0;
    overflow: hidden;
}
#menuPage div{
    height:100%;
    width:20%;
    text-align: center;
    opacity: 0.6;
    display: flex;
    justify-content: center;
    align-items: center;
}
#menuPage #home:hover{
    background-color: rgba(5, 5, 5,0.8);
}
#menuPage #home{
    background-color:deeppink; 
    transform:scale(1,1); 
    transform-origin: top;
    height: 20%;
    transition: all 5s;  
}
#menuPage #tour{
    background-color: forestgreen;
    transition: all 1s;  
}
#menuPage #tour:hover{
    background-color: rgba(5, 5, 5,0.8);
}
#menuPage #aboutUs{
    background-color: maroon;
    transition: all 1s;  
}
#menuPage #aboutUs:hover{
    background-color: rgba(5, 5, 5,0.8);
}
#menuPage #offer{
    background-color: mediumblue;
    transition: all 1s;  
}
#menuPage #offer:hover{
    background-color: rgba(5, 5, 5,0.8);
}
#menuPage #contact{
    background-color:blueviolet;
    transition: all 1s;  
}
#menuPage #contact:hover{
    background-color: rgba(5, 5, 5,0.8);
}
#menuPageClose{
    position: absolute;
    top: 0;
    font-size:15px;
    font-weight: bolder;
    cursor: pointer;
    width: 100%;
    height: 8vh;
    text-align: end;
    color: white;
    background-color: blueviolet;
    display: none;
    cursor: pointer;
}

#cards{
    width: 1fr;
    height: 80vh;
    background-image: url("img/562771.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    margin-top: 0%;
    font-size: 17px;
    text-transform: capitalize;
    color: lightyellow;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#cards #allCards{
    display: flex; 
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    align-items: center; 
}

 #forest{
   position: relative;
   width: 20%;
   height: 70%;
   background-color: green;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 50% 40%;
   transition: transform 1s;
   box-shadow: 6px 6px 6px black;
}
#forest #forestImg img{
    width:100%;
    height: 100%;
    object-fit: fill; 
}
#forest #forestImg span{
   position: absolute;
   bottom: 10px; 
   right: 0;
   color: white;
   font-size: 20px;
   font-weight: bold;
}

#forest ul{
    list-style: none;
}
#forest button{
    width: 50px;
    height: 20px;
    position: absolute;
    border: none;
}
#forest #forestBtn{
    top:10px;
    left:0;
    cursor: pointer;
    background-color: yellow;
}
#forestDes{
    list-style: none;
}
#forest #forestBackBtn{
    display: none;
    bottom: 0;
    left: 40%;
    cursor: pointer;
    background-color: yellow;
}
/* -------------------------beach------------------- */
#cards #beach{
   position: relative;
   width: 20%;
   height: 70%;
   background-color: green;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 50% 40%;
   box-shadow: 6px 6px 6px black;
}
#beach #beachImg img{
    width:100%;
    height:100%;
    object-fit:fill;
    /* padding-top:10px; */
}
#beach #beachImg span{
   position: absolute;
   bottom: 10px;
   right: 0;
   color: black;
   font-size: 20px;
   font-weight: bold;
}

#beach ul{
    list-style: none;
}
#beachDes{
    list-style: none;
}
#beach button{
    width: 50px;
    height: 20px;
    position: absolute;
    border: none;
}
#beachImg #beachBtn{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left:0;
    background-color: yellow;
}
#beach #beachBackBtn{
    display: none;
    bottom: 0;
    left: 40%;
    cursor: pointer;
}
/* --------------------------mountain----------------- */
#cards #mountain{
   position: relative;
   width: 20%;
   height: 70%;
   background-color: green;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 50% 40%;
   box-shadow: 6px 6px 6px black;
}
#mountain #mountainImg img{
    width:100%;
    height: 100%;
    object-fit:fill;
}
#mountain #mountainImg span{
   position: absolute;
   bottom: 10px;
   right: 0;
   color: white;
   font-size: 20px;
   font-weight: bold;
}
#mountain ul{
    list-style: none;
}
#mountainDes{
    list-style: none;
}
#mountain button{
    width: 50px;
    height: 20px;
    position: absolute;
    border: none;
}
#mountain #mountainBtn{
    top: 10px;
    left: 0;
    background-color: yellow;
    cursor: pointer;
}
#mountain #mountainBackBtn{
    display: none;
    bottom: 0;
    left: 40%;
    cursor: pointer;
}
/* ----------------------------story----------------------- */
#stories{
    width: 1fr;
    height: 90vh;
    background-color:lightgreen;
    position: relative;
    margin-top: 4px;
}
#stories video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
     opacity: 0.6;  
}
#stories #story1{
   height: 32%;
   width: 60%;
   background-color:rgb(89, 247, 16,0.6);
   position: absolute;
   top: 20%;
   left: 20%; 
   transform: skewX(20deg);
   display: flex;
   justify-content: space-evenly;
}
#story1Img{
    height: 60%;
    width: 50%;
    margin:5%;
    margin-left: 10%;
    border-radius: 10px;
}
#story1Img img{
    height: 100%;
    width: 100%;
    object-fit:cover;
    border-radius: 100px;
    transform: skewX(-20deg);
}
#story1Para{
    transform: skewX(-20deg);
}

#stories #story2{
    height: 32%;
    width: 60%;
    background-color:rgba(230, 230, 1,0.6);
    position: absolute;
    top: 60%;
    left: 20%; 
    transform: skewX(20deg);
    display: flex;
    justify-content: space-evenly;
 }
 #story2Img{
    height: 60%;
    width: 50%;
    margin:5%;
    margin-left:10%;
    border-radius:100px;
}
#story2Img img{
    height:100%;
    width:100%;
    object-fit:cover;
    border-radius:100px;
    transform: skewX(-19deg);
}
#story2Para{
    transform: skewX(-20deg);
}

/* ------------------form-------------------------- */
#contactForm{
    width: 1fr;
    height: 90vh;
    background-image: url("img/contact-us-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color:lightblue;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: bgColorContact 30s 0.8s infinite ;
}
#inputArea{
    height: 55%;
    width: 35%;
    background-color:rgba(255, 255, 255,1);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 30px;
    border-radius: 30px;
}
input:focus{
    outline: none;
}
#insideForm{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#insideForm #name{
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 10px;
} 
#insideForm #message{
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 10px;
} 
#contactDetails{
    display: flex;
    width: 80%;
    height: 20%;
    justify-content:space-between;
}
#insideForm #contactDetails #email{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 47%;
}
#insideForm #contactDetails #mobile{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 47%;
}
#insideForm #formSubmitBtn{
    height:30px;
    width: 80%;
    background-color:rgba(45, 48, 45,0.7);
    color: white;
    border: none;
}
#insideForm #formSubmitBtn:hover{
    background-color:rgba(5, 5, 5,0.9);
}
#footerNav{
    background-color: rgb(61, 59, 59);
    color: whitesmoke;
}
#footerNav #firstSec{
    display: flex;
    justify-content: center;
    width: 1fr;
}
#footerNav #firstSec ul{
    width: 70%;
    list-style: none;
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-size: larger;
}
#footerNav #secondSec{
    width: 1fr;
    text-align: center;
}
#footerNav #firstSec ul li{
    border: 0.5px solid blue;
    width: 20vh;
    height: 4vh;
    text-align: center;
}
#footerNav #firstSec ul li:hover{
    transform: rotateZ(18deg);
    box-shadow: 3px 3px 3px 5px black;
}
@keyframes topCountries{
   0%{transform: translateY(0); }
   10%{transform: translateY(0); }
   20%{transform: translateY(-30px);}
   30%{transform: translateY(0); }
   100%{transform: translateY(0); }
}

@keyframes floatBaloon{
    0%{transform: translateZ(350px);}
    5%{transform: translateZ(200px);}
    10%{transform: translateZ(-5px)
                     translateX(-60px);
       }
    20%{transform: translateZ(-450px)
                    translateX(-150px);
        }
    30%{transform: translateZ(-950px)
                     translateX(-300px);
        }
    40%{transform: translateZ(-1400px)
                     translateX(-500px);
        
        }
    50%{transform: translateZ(-2100px)
                     translateX(-700px);
        }
    60%{transform: translateZ(-2900px)
                     translateX(-900px);
                     opacity: 0.9;
        }
    70%{transform: translateZ(-3500px)
                     translateX(-1200px)
                     translateY(-70px);
                     opacity: 0.95;
        }
    80%{transform: translateZ(-4000px)
                     translateX(-1400px)
                     translateY(-100px);
                     opacity: 0.85;
        }
    90%{transform: translateZ(-4500px)
                    translateX(-1550px)
                    translateY(-200px);
                    opacity: 0.81;
        }
    100%{transform: translateZ(-5000px)
                    translateX(-1450px)
                    translateY(-350px);
                    opacity: 0.76;
        }
}
@keyframes bgColorContact{
    0%{background-color: rgb(134, 170, 204);}
    20%{background-color: rgb(236, 236, 229);}
    40%{background-color: rgb(228, 236, 104);}
    60%{background-color: rgb(238, 196, 58);}
    77%{background-color: rgb(250, 104, 59);}
    82%{background-color: rgb(64, 143, 233);}
    87%{background-color: rgb(11, 56, 138);}
    97%{background-color: rgb(76, 117, 155);}
    100%{background-color: rgb(108, 141, 172);}
}
